@model EntityLayer.Concretes.Writer
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Oturum Açın</h3>
        <div class="row inner-sec">
            <div class="login p-5 bg-light mx-auto mw-100">

                @using(Html.BeginForm("Login", "Auth", FormMethod.Post)){
                <div class="form-group">
                    <label for="validationCustom01">Mail</label>
                    @Html.TextBoxFor(w => w.Mail, new { @class = "form-control", @placeholder="Mail adresiniz giriniz..."})
                    @Html.ValidationMessageFor(w => w.Mail, "", new { @style = "color:red" })
                </div>
                    <div class="form-group">
                        <label for="validationCustom01">Şifre</label>
                        @Html.PasswordFor(w => w.Password, new { @class = "form-control", @placeholder = "Şifrenizi giriniz ..." })
                        @Html.ValidationMessageFor(w => w.Password, "", new { @style = "color:red" })

                    </div>
                <button type="submit" class="btn btn-primary submit mb-4">Giriş Yap</button>
                <p><a href="/Auth/Register/"> Bir Hesabınız Yokmu? Tıklayın.</a></p>
                }
            </div>
        </div>
    </div>
</section>