<!--right-->
<aside class="col-lg-4 agileits-w3ls-right-blog-con text-left">
    <div class="right-blog-info text-left">
        <!--NewsLetter-->
        @await Html.PartialAsync("~/Views/NewsLetter/SubscribeMail.cshtml")

        <!--NewsLetter-->
        <!--Categories-->
        @(await Component.InvokeAsync("CategoryList"))

        <!--Categories-->
        <!--Last Blog-->
        @await Component.InvokeAsync("BlogLastThreePost")
        <!--Last Blog-->
        @{
            if (ViewBag.Flap==1)
            {
                @await Component.InvokeAsync("BlogListByWriter",ViewBag.WriterId)
                
            }
        }
    </div>
</aside>
<!--//right-->