<!DOCTYPE html>
<html lang="zxx">
<!--Head-->
@{
    await Html.RenderPartialAsync("LayoutPartials/_Head");
}
<!--Head-->
<body>
<!--Header-->
@{
    await Html.RenderPartialAsync("LayoutPartials/_Header");
}

<!--//header-->
<div class="banner-inner"></div>
<!--/main-->
<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Blog Yazıları</h3>
        <div class="row inner-sec">
            @RenderBody()

            @{
                await Html.RenderPartialAsync("LayoutPartials/_RightBody");
            }
        </div>
    </div>
</section>
<!--//main-->
<!--footer-->
@{
    await Html.RenderPartialAsync("LayoutPartials/_Footer");
}
@{
    await Html.RenderPartialAsync("LayoutPartials/_Scripts");
}

</body>

</html>
